<h1>All-Answer are # {{countDocumentQuery}}</h1>


<div class="col-md-14 mx-auto">
    <div class= "card">

         <div class="card-header">
            <ul class="list-group"></ul>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>#Question</th>
                    <th>Text</th>
                    <th>Answers</th>
                  </tr>
                </thead>
              </table>
            </ul>
         </div>

         <div class="card-body">
          <div class="list-group" id="list-tab" role="tablist"></div>
              <ul class="list-group">
                <table class="table table-dark">
                  <tbody>
                    {{#each question}}
                    <tr>
                      <td>
                        {{question}}
                        <a href="/question/edit/{{id}}">
                          <i class="fa fa-pencil">
                            
                          </i>
                      </td>
                      <td>
                        {{text}}
                      </td>
                      <td>
                        {{answers}}
                      </td>
                    </tr>
                    {{/each}}
                    
                  </tbody>
                </table>
              </ul>
          </div>
        </div>

    </div>
</div>

<div class="row">

    
 

</div>



