<h1>All-Answer are # {{countDocumentQuery}}</h1>

<div class="row">

    <div class="list-group" id="list-tab" role="tablist"></div>
      <ul class="list-group">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Question</th>
              <th scope="col">Text</th>
              <th scope="col">Answers</th>
            </tr>
          </thead>
          <tbody>
            {{#each question}}
            <tr>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/question/edit/{{id}}">
                      <i class="fa fa-pencil">

                      </i>

                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    {{question}}
                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    {{text}}
                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    {{answers}}
                  </li>
                </ul>
              </td>
            </tr>
            {{/each}}
            
          </tbody>
        </table>
      </ul>


    </div>
 

</div>



