

<h1>All-Group</h1>

<div class="row">
    {{#each groups}}
        
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}}
                        <a href="/notes/edit/{{id}}"> <i class="fa fa-pencil"></i> </a> 

                    </h4>
                    <p>{{description}}</p>

                </div>
            </div>
        </div>
    {{/each}}
</div>

   </p>
      </p>
         </p>
            </p>

<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>New Group</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-note" method="post">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="title" autofocus>

                </div>
                <div class="form-group">
                    <textarea name="description"  placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                   
                    <button class="btn btn-primary btn-block">
                        save        
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


