<div class="jumbotron mt-4">

    <h1 class="display-4"> 
        <img src="/img/webrtc-48.png" class="rounded-circle " >
        First Versión Académico
    </h1>
    <p class="lead"> Aplicación desarrollada conforme modelos de educación orientados a la retroalimentación.</p>
    <hr class="my-4">
    <p>Interaccion basada en roles de Profesor o Tutor, Estudiantes y Monitores.</p>
    <a href="https://www.facebook.com/andres.uriza.3" class="btn btn-primary" >facebook</a>
    <a href="https://www.linkedin.com/in/carlos-andres-uriza-fontecha-29947671/ " class="btn btn-primary">linkedin</a>
</div>