<h1>Add the new Answer </h1>

<div class="row">

    <div class="list-group" id="list-tab" role="tablist">
      <ul class="list-group">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Question</th>
              <th scope="col">Text</th>
              <th scope="col">Answers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/question/edit/{{id}}">
                      <i class="fa fa-pencil">

                      </i>

                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    <input type="text" name="title" class="form-control" placeholder="title" autofocus>
                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    <input type="text" name="title" class="form-control" placeholder="title" autofocus>
                  </li>
                </ul>
              </td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item">
                    <input type="text" name="title" class="form-control" placeholder="title" autofocus>
                  </li>
                </ul>
              </td>
            </tr>

          </tbody>
        </table>

        <div class="form-group">
                   
                    <button class="btn btn-primary btn-block">
                        save        
                    </button>
                </div>
      </ul>


    </div>
 </div>

</div>



