
<section class="card">

    <div class="card-body">
        <h1>
            First Versión Académico
        </h1>
        <P>First Versión Académico es un servicio web que permitirá a usuarios establecer un grupo de sesión y que diseñado con forme los modelos de educación orientados a la retroalimentación de la interacción le permiten a un usuario establecer un roll de profesor o tutor de forma que este pueda realizar una retroalimentación de un conocimiento previo a impartirlo y pueda evaluar la trasferencia del conocimiento en un evento posterior a impartirlo, el uso de esta aplicación permitirá al tutor evaluar los conocimientos transferidos, proponer discusiones orientando los objetivos de aprendizaje de forma más específica y resaltando las deficiencias y o falencias en la trasmisión no con fin de cualificar el conocimiento del estudiante si no por el contrario estimulara la trasferencia de conocimiento y la eficiencia de este proceso en de los tutores.</P>
    </div>
</section>

<div class="jumbotron mt-4">
    <h1 class="display-4"> 
        Carlos Andres Uriza Fontecha
    </h1>
    <p class="lead"> Estudiante Maestría en ciencias de la información y las telecomunicaciones universidad Distrital Francisco Jose De Caldas
    </p>
    </p>Cod: 20211495015</p>
    </p>E-Mail: caurizaf@correo.udistrital.edu.co</p>

    <hr class="my-4">
    <p>Redes Sociales</p>
    <a href="https://www.facebook.com/andres.uriza.3" class="btn btn-primary" >facebook</a>
    <a href="https://www.linkedin.com/in/carlos-andres-uriza-fontecha-29947671/ " class="btn btn-primary">linkedin</a>
</div>