

<h1>All-Note</h1>

<div class="row">
    {{#each notes}}
        
        <div class="col-md-3">
            <div class="card" >
                <div class="card-body">
                    
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                       {{title}} <a href="/notes/edit/{{id}}"> 
                                    <i class="fa fa-pencil">
                                  
                                    </i>
                                </a> 
                    </h4>
                    <p>{{description}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">
                            Delete 
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<div class="card-body"></div>

    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
               <form action="/notes/add" method="GET">
                    <button class="btn btn-primary btn-block">
                        New-note    
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>


