
<h1>Sign UP</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <img src="/img/webrtc-64.png" class="rounded-circle mx-auto d-block" >
            <div class="card-body">
                <form action="/users/signup" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Names" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="surname" placeholder="Surnames" value="{{surname}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="{{phone}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="{{confirm_password}}">
                    </div>
                    <button class="btn btn-primary btn-block">
                    Sign Up
                    </button>

                </form>
            </div>
        </div>

    </div>

</div>

