<h1>Sign IN</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Login
            </div>
            <img src="/img/webrtc-64.png" class="rounded-circle mx-auto d-block" >
            <div class="card-body">
                <form action="/users/signin" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block">
                    Sign In
                    </button>

                </form>
            </div>
        </div>

    </div>

</div>
